/* Font import */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*Main styles*/
body, p, button {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 400;
}
h2 {
    text-align: center;
    margin-top: 0;
}
h4 {
    font-weight: 400;
    margin-bottom: 0;
}
b {
    font-family: "Montserrat";
    font-weight: 700;
}
header img, .userInfo img {
    width: 100%;
}
section, footer {
    padding: 1em;
}
picture {
    display: flex;
}
section {
    background: rgb(242 242 242);
}
.card {
    background: white;
    box-shadow: 0px 0px 12px 0px #e1e1e1;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

.social img {
    opacity: .75;
    cursor: pointer;
}

.social img:hover  {
  opacity: 1;
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card:hover {
  box-shadow: 0px 0px 12px 0px #a3a3a3;
}

.overlay .btn {
  background: rgb(240 131 0);
  padding: .6rem 1rem;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.product-01, .product-02, .product-03 {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: auto;
    background-size: cover;
}
.product-01 {
    background-image: url(../img/playstation20usd.jpeg);
}
.product-02 {
    background-image: url(../img/ckbe.jpg);
}
.product-03 {
    background-image: url(../img/starbucks.png);
}
footer {
    background: #ed1d23;
    color: white;
}
.support {
    display: flex;
    margin: 0 0 16px;
    justify-content: center;
}
.support img, .legals img {
    width: 20px;
    padding-right: 12px;
}
.legals img:first-child {
    height: 20px;
}
.legals {
    text-align: center;
}
.social {
    margin-top: 16px;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 200px; 
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
}

/* Media queries */
@media (min-width: 560px) {
    .swiper {
        height: 250px;
    }
    .prizes {
        display: flex;
        flex-flow: wrap;
        column-gap: 4%;
        row-gap: 16px;
        justify-content: center;
    }
    .card {
        width: 40%;
    }
    .product-01, .product-02, .product-03 {
        width: 175px;
        height: 175px;
    }
}

@media (min-width: 768px) {
    section, footer {
        padding: 2em;
    }
    .swiper {
        height: 350px;
    }
    .prizes {
        column-gap: 2%;
    }
    .card {
        width: 26%;
    }
    footer .max-size {
        display: flex;
        justify-content: space-between;
    }
    .support {
        align-items: center;
    }
}

@media (min-width: 960px) {
    .legals {
        display: flex;
        align-items: center;
    }
    .support {
        margin-top: 0;
    }
    .social {
        margin: 0 0 0 8px;
    }
    .legals p {
        margin-left: 8px;
        padding-right: 8px;
        border-right: 2px solid white;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2em;
    }
    section {
        padding: 4em;
    }
    footer {
        padding: 2em 4em;
    }
    .card {
        width: 28%;
    }
    .swiper {
        height: 500px;
    }
}

@media (min-width: 1920px) {
    .swiper {
        height: 750px;
    }
    .max-size {
        max-width: 1800px;
        margin: auto;
    }
}